<p-dialog  header="Generar" [(visible)]="visible" [style]="{ width: '90%'}">
  <div class="flex py-2 justify-content-center">
    <p-toolbar>
      <div class="p-toolbar-group-start" >
          <button pButton icon="pi pi-plus" class="mr-2"></button>
          <button pButton icon="pi pi-file-excel" class="mr-2" (click)="descargar()"></button>
      </div>
  </p-toolbar>
  </div>
  <br>
  <div>
    <form [formGroup]="form">

      <label for="nombre">Nombre: </label>
      <input pInputText  placeholder="Ingrese nombre" formControlName="nombre" [(ngModel)]="nombre" />
    </form>
    </div>

    
</p-dialog>